
@using Kachow.Shared.DTOs
@using Kachow.Client.Services.ParcelService
@inject NavigationManager _navigationManager


@if (parcel == null)
{
    <p><em>Мы не нашли такой посылки :С</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Тип</th>
                <th>Способ доставки</th>
                <th>Дата отправки</th>
                <th>Ожидаемая дата доставки</th>
                <th>Статус</th>
                <th>Обновление</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>


            <tr >

                <td>@parcel.Name</td>
                <td>@parcel.DeliveryMethodName</td>
                @if (parcel.DepartureDate.Equals(new DateTime()))
                {
                    <td>-</td>
                    <td>-</td>
                }
                else
                {
                    <td>@parcel.DepartureDate.ToShortDateString()</td>

                    <td> @parcel.AnticipatedDeliveryDate.ToShortDateString()</td>
                }

                <td>@parcel.Status</td>
                <td>@parcel.LastUpload</td>
                <td>@parcel.Price</td>
            </tr>

        </tbody>
    </table>


}

@code{
    private TrackedParcelDTO? parcel;
    [Inject]
    private IParcelService parcelService { get; set; }

    [Parameter]
    public int TrackedParcelNumber { get; set; }

    [Parameter]
    public EventCallback<int> TrackedParcelNumberChanged { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        parcel = await parcelService.GetAllTrackedParcel(TrackedParcelNumber);
    }


}

